name: uniphore/product-engineering/platform-services/java-services
on:
  push:
    branches:
      - master
    paths:
      - "folder2/**"
  create:
    branches:
      - "master/**"
  workflow_dispatch:
concurrency:
  group: "${{ github.ref }}"
  cancel-in-progress: true
env: 
  BRANCH: "${{ github.ref }}"

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: openjdk:8-jdk-slim
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 50
          lfs: trueX
      - run: echo "Hello"
